:root {
  --blue: #005BC1;
  --grey: #343434;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

div, p, input, form, span, a, ul, li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.header {
  background: url(../img/logo/header.png) no-repeat;
}
.header_fluid {
  background: rgba(0, 91, 193, 0.6);
}
.header_block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-family: "Titillium Web";
  line-height: 120%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.header_block img {
  padding: 15px 7px 15px 40px;
}
.header_block div {
  padding: 11px 0;
}
.header_nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_nav nav ul li {
  padding-top: 31px;
  padding-bottom: 30px;
}
.header_nav nav ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.header_wrapper {
  background: rgba(0, 91, 193, 0.6);
}
.header_subwrapper {
  width: 667px;
  margin-left: 160px;
  padding-top: 200px;
  padding-bottom: 197px;
}
.header_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  color: #FFFFFF;
}
.header_subtitle {
  width: 445px;
  padding-top: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.header_btn {
  font-family: "Open Sans";
  margin-top: 40px;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: repeat;
  border: 2px solid #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .header_nav {
    width: 700px;
  }
  .header_subwrapper {
    width: 584px;
    margin-left: 90px;
    padding-top: 100px;
  }
  .header_title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .header_block img {
    padding-left: 12px;
  }
  .header_nav {
    display: none;
  }
  .header_subwrapper {
    width: 388px;
    margin-left: 0;
    padding: 90px 0;
  }
  .header_title {
    font-size: 28px;
    line-height: 41px;
  }
  .header_subtitle {
    width: 350px;
  }
}
@media screen and (max-width: 425px) {
  .header_title {
    font-size: 37px;
    line-height: 36px;
  }
  .header_subwrapper {
    width: 100%;
  }
  .header_subtitle {
    width: 100%;
  }
}
.hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #151812;
}
.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 85vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu_block {
  position: relative;
  width: 280px;
  padding-top: 140px;
  padding-left: 40px;
  background-color: var(--blue);
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 10;
  opacity: 0.9;
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
}
.menu__link:before {
  content: "";
  position: absolute;
  left: 30px;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000000;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu__link:hover::before {
  background-color: #fff;
}
.menu a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.slide {
  padding-top: 150px;
  padding-bottom: 150px;
}
.slide_line {
  width: 100px;
  margin-top: 14px;
  border: 3px solid var(--blue);
}
.slide_line-min {
  width: 50px;
  margin-top: 13px;
  margin-left: 50px;
  border: 3px solid var(--blue);
}
.slide_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--grey);
  padding-top: 9px;
}

.carousel {
  padding-top: 70px;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: -29%;
  right: 85px;
  border: none;
  background-color: #fff;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 55px;
  height: 55px;
}
.carousel .slick-next {
  right: 24px;
}

@media screen and (max-width: 1199px) {
  .carousel_items div img {
    width: 95%;
  }
  .carousel .slick-prev, .carousel .slick-next {
    top: -34%;
  }
}
@media screen and (max-width: 1199px) {
  .slide {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slide .slick-prev img, .slide .slick-next img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 991px) {
  .carousel .slick-prev, .carousel .slick-next {
    top: -43%;
  }
  .carousel_items div img {
    width: 98%;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .slide_line {
    width: 100%;
    border: 2px solid var(--blue);
  }
  .slide_line-min {
    width: 50%;
    margin-left: 50%;
    margin-top: 7px;
    border: 2px solid var(--blue);
  }
  .slide_title {
    font-size: 21px;
  }
  .slide .slick-prev img, .slide .slick-next img {
    width: 30px;
    height: 30px;
  }
  .carousel {
    padding-top: 37px;
  }
  .carousel .slick-prev {
    right: 45px;
    top: -64px;
  }
  .carousel .slick-next {
    right: 9px;
    top: -64px;
  }
  .carousel_items div img {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .slide_line {
    margin-top: 11px;
    border: 1px solid var(--blue);
  }
  .slide_line-min {
    margin-top: 6px;
    border: 1px solid var(--blue);
  }
  .slide_title {
    font-size: 14px;
  }
  .carousel .slick-prev {
    right: 31px;
    top: -61px;
  }
  .carousel .slick-next {
    right: -5px;
    top: -61px;
  }
}
.catalog {
  padding-bottom: 150px;
}
.catalog_line {
  width: 100px;
  margin-top: 14px;
  border: 3px solid var(--blue);
}
.catalog_line-min {
  width: 50px;
  margin-top: 13px;
  margin-left: 50px;
  border: 3px solid var(--blue);
}
.catalog_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--grey);
  padding-top: 9px;
}
.catalog_center {
  margin: auto;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}
.catalog_center a {
  display: block;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--grey);
  text-decoration: none;
}
.catalog_center a:hover {
  color: var(--blue);
  text-decoration: underline;
  padding-top: 5px;
}
.catalog_item {
  margin-top: 50px;
  border: 3px solid var(--blue);
}
.catalog_item img {
  width: 354px;
  height: 300px;
}
.catalog_item-min {
  margin-top: -100px;
  padding: 30px 21px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: var(--blue);
}
.catalog .padding {
  padding: 17px 21px;
}

@media screen and (max-width: 1199px) {
  .catalog_item img {
    width: 289px;
  }
  .catalog .padding {
    padding: 5px 21px;
  }
}
@media screen and (max-width: 991px) {
  .catalog {
    padding-bottom: 50px;
  }
  .catalog_center {
    padding-top: 25px;
  }
  .catalog_item img {
    width: 215px;
    height: 230px;
  }
  .catalog_item-min {
    font-size: 9px;
    padding: 22px 21px;
    margin-top: -70px;
  }
  .catalog .padding {
    padding: 17px 21px;
  }
}
@media screen and (max-width: 767px) {
  .catalog_line {
    width: 100%;
    border: 2px solid var(--blue);
  }
  .catalog_line-min {
    width: 50%;
    margin-left: 50%;
    margin-top: 7px;
    border: 2px solid var(--blue);
  }
  .catalog_center {
    padding-bottom: 25px;
  }
  .catalog_title {
    font-size: 22px;
  }
  .catalog_item-xs {
    margin-bottom: 25px;
  }
  .catalog_item {
    margin: auto;
    width: 67%;
  }
  .catalog_item img {
    width: 100%;
    height: 290px;
  }
  .catalog .padding {
    padding: 21px;
  }
}
@media screen and (max-width: 425px) {
  .catalog_line {
    margin-top: 11px;
    border: 1px solid #005BC1;
  }
  .catalog_line-min {
    margin-top: 6px;
    border: 1px solid #005BC1;
  }
  .catalog_title {
    font-size: 14px;
  }
  .catalog_center a {
    font-size: 20px;
  }
  .catalog_item {
    width: 100%;
  }
  .catalog_item img {
    height: 250px;
  }
}
.rent {
  padding-bottom: 150px;
}
.rent_line {
  width: 100px;
  margin-top: 14px;
  border: 3px solid var(--blue);
}
.rent_line-min {
  width: 50px;
  margin-top: 13px;
  margin-left: 50px;
  border: 3px solid var(--blue);
}
.rent_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #343434;
  padding-top: 9px;
}
.rent_title-p {
  padding-top: 150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--grey);
}
.rent_box {
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  border: 3px solid var(--blue);
}
.rent_items {
  padding-top: 42px;
}
.rent_carousel-title {
  padding-top: 42px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--grey);
}
.rent_carousel .slick-prev, .rent_carousel .slick-next {
  position: absolute;
  top: -13%;
  right: 51px;
  border: none;
  background-color: #fff;
}
.rent_carousel .slick-prev img, .rent_carousel .slick-next img {
  width: 55px;
  height: 55px;
}
.rent_carousel .slick-next {
  right: -10px;
}

@media screen and (max-width: 1199px) {
  .rent_carousel-title {
    font-size: 13px;
  }
  .rent .slick-slide img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .rent {
    padding-bottom: 50px;
  }
  .rent_title-p {
    padding: 50px 15px;
  }
  .rent_box {
    width: 90%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .rent_line {
    width: 100%;
    border: 2px solid var(--blue);
  }
  .rent_line-min {
    width: 50%;
    margin-left: 50%;
    margin-top: 7px;
    border: 2px solid var(--blue);
  }
  .rent_title {
    font-size: 22px;
  }
  .rent_carousel .slick-prev {
    right: 26px;
  }
  .rent_carousel .slick-prev img, .rent_carousel .slick-next img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 570px) {
  .rent_carousel-title {
    font-size: 11px;
  }
  .rent_carousel .slick-prev, .rent_carousel .slick-next {
    top: -52px;
  }
}
@media screen and (max-width: 424px) {
  .rent_carousel .slick-prev, .rent_carousel .slick-next {
    top: -60px;
  }
}
@media screen and (max-width: 386px) {
  .rent_box {
    width: 100%;
  }
  .rent_carousel .slick-prev, .rent_carousel .slick-next {
    top: -60px;
  }
}
.news {
  padding-bottom: 120px;
}
.news_line {
  width: 100px;
  margin-top: 24px;
  border: 3px solid var(--blue);
}
.news_line-min {
  width: 50px;
  margin-top: 13px;
  margin-left: 50px;
  border: 3px solid var(--blue);
}
.news_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--grey);
  padding-top: 19px;
}
.news_btn {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--grey);
  border: none;
  background: var(--blue);
  padding: 15px 34px;
}
.news_block {
  padding-left: 30px;
}
.news_item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news_item-main img {
  width: 255px;
  height: 242px;
}
.news_item-main h4 {
  float: left;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--grey);
}
.news_item-main span {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #979797;
}
.news_item-main p {
  padding-top: 42px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  font-size: 14px;
  color: var(--grey);
}
.news_item-main a {
  display: block;
  padding-top: 46px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--grey);
}
.news_item h4 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  color: var(--grey);
}
.news_item p {
  padding-top: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--grey);
}
.news_item img {
  padding-top: 20px;
  width: 128px;
  height: 115px;
}
.news_item span {
  display: block;
  margin-top: -18px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #979797;
}
.news_item a {
  display: block;
  padding-top: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--grey);
}
.news__close {
  margin-top: 30px;
}

.newsactive {
  display: none;
}
.newsactive_btn {
  display: block;
  margin: auto;
  padding: 6px 34px;
  font-size: 21px;
  background: red;
  border-radius: 20px;
}
.newsactive.active {
  display: block;
}

@media screen and (max-width: 1199px) {
  .news_item-main p {
    line-height: 18px;
  }
  .news_item-main a {
    padding-top: 4px;
  }
}
@media screen and (max-width: 991px) {
  .news_item {
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }
  .news_block {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .news {
    padding-bottom: 50px;
  }
  .news_line {
    width: 100%;
    border: 2px solid var(--blue);
  }
  .news_line-min {
    width: 50%;
    margin-left: 50%;
    margin-top: 7px;
    border: 2px solid var(--blue);
  }
  .news_title {
    font-size: 22px;
  }
  .news_btn {
    font-size: 10px;
    margin-top: 20px;
  }
  .news_item-main img {
    width: 170px;
  }
}
@media screen and (max-width: 425px) {
  .news_item-main img {
    display: none;
  }
  .news_item div img {
    display: none;
  }
  .news_block {
    padding-left: 0;
  }
}
.footer {
  padding-top: 36px;
  padding-bottom: 25px;
  background: var(--blue);
}
.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_phone {
  margin-top: -3px;
}
.footer_phone a {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer_adres {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
.footer_email a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #FFFFFF;
}
.footer_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_a a {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.footer_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}
.footer hr {
  margin-top: 29px;
  margin-bottom: 25px;
  border: 1px solid #FFFFFF;
}

@media screen and (max-width: 991px) {
  .footer_adres {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer_block {
    display: block;
    text-align: center;
  }
  .footer_adres {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 425px) {
  .footer_a {
    display: block;
    text-align: center;
  }
}/*# sourceMappingURL=styli.css.map */